/* === GLOBAL SETTINGS === */

* {
	box-sizing: border-box;
}

details {
	background-color: #faf9f6;
	border: 1px solid #d8e0f7;
	padding: 0.6em;
	margin-bottom: 1em;
}

details summary { 
	cursor: pointer;
}

.copyright {
	text-align: center;
	font-style: italic;
}

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #434343;
	line-height: 1.8;
	background-color: #f0f3fc;
}

/* === DEFAULT LAYOUT STYLING === */

.banner {
	padding: 2em;	
}

.banner h1 {
	margin: 0;
	text-align: center;
	text-shadow: 1px 1px #bbb;
}

.content-wrapper {
	background-color: white;
	border: 1px solid #d8e0f7;
}

main, .sidebar, .site-footer {
	padding: 2em;
}

/* === NAVIGATION MENU === */
 
.primary-menu ul {
	justify-content: center;
	margin: 0;
	padding: 0;
}

.primary-menu li {
	list-style-type: none;
	padding: 0;
}

.primary-menu a {
	text-decoration:none;
	color:#0000ee;
	font-weight: bold;
	background-color: #dbdbdb;
	border: 1px solid #c9d4f5;
	border-radius: 4px;
	display: block;
	margin: 0.4em;
	padding: 0 0.4em;
	text-align: center;
}
   
.primary-menu a:hover  {
	background-color:#fff;
}

.primary-menu .active {
	border-color: #555;
	border-width: 2px;
}

/* === FLEXIBLE MEDIA === */

img, video {
	  max-width: 100%;
	  height: auto;
}

/* === DESKTOP LAYOUT === */

@media (min-width: 768px) {

	body {
		font-size: 110%;
	}

	/* menu only appears horizontal on large screens */
	.primary-menu ul {
		display: flex;
	}

	.img-left {
		float: left;
		margin-right: 5em;
	}
	
	.content-wrapper {
		max-width: 1400px;
		margin: 0 auto;	
		display: grid;
		grid-template-columns: 2fr 1fr;
	}

    /* I added a class named "home" to the body element in index.html */
    .home .content-wrapper {
        grid-template-columns: none;
    }

} /* ending curly bracket for the media query */